{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test"
      },
      "extensions": [
        ".js",
        ".jsx",
        ".ts",
        ".tsx",
        ".android.js",
        ".android.tsx",
        ".ios.js",
        ".ios.tsx"
      ]
    }]
  ]
}
